<h2>Edit article: {{ .Title }}</h2>
<form action="/save/{{ .Id }}" method="POST">
  <div class="form-group">
    <label>Title</label>
    <input type="text" class="form-control" name="title" value="{{.Title}}" />
  </div>
  <div class="form-group">
    <label>Text</label>
    <textarea type="text/html" class="form-control" style="max-width:100%;height:30%;" name="body">{{printf "%s" .Body}}</textarea>
  </div>
  <input type="submit" class="btn btn-primary" />
</form>